@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Developer:</strong> @ViewData["Name"]</p>

<address>
<strong>Contact:</strong> <p>carloshpsantos1996@gmail.com</p>
</address>

    